@inject NavigationManager NavigationManager
<button @onclick="GoToHome"
        class="btn btn-outline-primary home-button">
        <i class="oi oi-home"></i>
</button>
@code {
    private void GoToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}
