@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-2">
            <HomeButton/>
            <Search/>
            <UserButton/>
            <CartCounter/>
            <div class="aboutme-button"><ButtonProfileBryan/></div>
        </div>
        <div class="nav-menu">
            <ShopNavMenu />
        </div>
            @Body
            <ShopFooter/>
    </main>
</div>

<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>