<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Marketplace Bryan</h5>

        <p>
          Bienvenido a la tienda numero 1 de colombia, nos alegra tenerlo de regreso en nuestra pagina web.
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Datos de Contacto</h5>

        <p>
            MarketPlace Bryan Siempre a su servicio. Se aceptan donaciones comuniquese al 
            <a href="https://api.whatsapp.com/send?phone=+573187119037&text=Hola, Nececito mas informacion!" target="_blank">3187119037</a>
            <br/>
            <a href="https://www.linkedin.com/in/bmvingeniero/" target="_blank">LinkeInd del creador</a>
        </p>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-dark" href="https://www.linkedin.com/in/bmvingeniero/" target="_blank">Bryan Productions</a>
  </div>
  <!-- Copyright -->
</footer>
@code {

}
