@inherits LayoutComponentBase

<div class="page">
    <main>
        <div class="top-row px-2">
            <HomeButton/>
            <Search/>
            <CartCounter/>
            <a href="https://www.linkedin.com/in/bmvingeniero/" target="_blank" class="aboutme">Acerca de mi</a>
        </div>
        <div class="nav-menu">
            <ShopNavMenu />
        </div>
        <article class="content px-2">
            @Body
        </article>
    </main>
</div>
