.container{
    display: flex;
    padding: 6px;
}

.image-wrapper{
    width: 150px;
    text-align: center;
}
.image{
    max-height:150px;
    max-width:120px;
    padding:6px;
}

.name{
    flex-grow:1;
    padding:6px;
}

.cart-product-price{
    font-weight:600;
    text-align:right;
    color:green;
}
.cart-product-price-total {
    font-weight: 700;
    text-align: right;
    color: green;
}
.btn-delete {
    background: red;
    border: none;
    padding: 10px;
    color: white;
    font-size: 12px;
    white-space: nowrap;
    display: inline-block;
    border-radius:4px;
    margin: 10px 0px 0px 0px;
}

    .btn-delete:hover{
        text-decoration:underline;
    }
.input-quantity{
    width:70px;
}

.container2 {
    height: 100%;
    align-content: center;
}