@page "/orders"
@inject IOrderService OrderService
<br/>
<center><h3>Compras</h3></center>
@if (orders == null)
{
    <center><span>Cargando ordenes de compra....</span></center>
}
else if (orders.Count <= 0)
{
    <center><span>Usted no ha realizado compras</span></center>
}
else
{
    foreach (var order in orders)
    {
        <div class="container">
            <div class="image-wrapper">
                <img src="@order.ProductImageUrl" class="image" />
            </div>
            <div class="details">
                <h4>@order.Product</h4>
                <span>@order.OrderDate</span><br />
                <a href="order/@order.Id">Ver mas...</a>
            </div>
            <div class="order-price">$@order.TotalPrice</div>
        </div>
    }
}

@code {
    List<OrderOverviewResponse> orders = null;
    protected override async Task OnInitializedAsync()
    {
        orders = await OrderService.GetOrders();
    }
}
