.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 350px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0.7) !important;
    border: 1px solid black;
    border-radius:20px;
}
.image-wrapper{
    max-width: 300px;
    max-height: 200px;
}
.card-body {
    color: white;
}