.container {
    height: 100%;
    align-content: center;
}
.card {
    height: 450px;
    margin-top: auto;
    margin-bottom: auto;
    width: 500px;
    background-color: rgba(0,0,0,0) !important;
}
